{% extends 'base.html' %}
{% block page-main %}

    <p style="margin-left: 510px;font-size: 55px;color:cornflowerblue;">welcome to our website</p>
       <a style="margin-left: 400px;margin-right:10px;font-size: 30px;color:silver;" href="/taskout/">任务列表页面</a>
        <a style="font-size: 30px;margin-right:10px;color:silver;" href="/thingfloat/">物品列表页面</a>
        <a style="font-size: 30px;margin-right:10px;color:silver;" href="/theteam/">队伍列表页面</a>
    <a style="font-size: 30px;margin-right:10px;color:silver;" href="/loginupin/comment/">评论列表页面</a>

{% endblock %}