{% extends 'base.html' %}
{% block page-main %}
<a href="/loginupin/changepwd/">改变密码</a>
<a href="/loginupin/changebulk/">改变其他信息</a>
    <center><a href="/loginupin/changebulk/">回到首页</a></center>
    <div class="container">
	<div class="row">
		<div class="span8">
			<table class="table">
				<thead>
					<tr>
						<th>
                            用户名
						</th>
						<th>
							用户邮箱
						</th>
						<th>
							用户电话
						</th>
						<th>
							用户余额
						</th>
					</tr>
				</thead>
				<tbody>

					<tr class="success">
						<td>
							<div>{{ user.user_name }}</div>
						</td>
						<td>
							<div>{{ user.user_email }}</div>
						</td>
						<td>
							<div>{{ user.user_phone }}</div>
						</td>
						<td>
							<div>{{ user.user_money }}</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>

	</div>
</div>
<form method="POST" action="/loginupin/self/"enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="img">
        <button type="submit">上传</button>
    </form>
{% if imgs %}
<div style="left: 0px;
        height:200px;
        width: 200px;"><img  style="height: 200px;
        width: 200px;
        border-radius:50%;margin-left: 700px;" src="/loginupin/media/img/{{ imgs }}" /></div>
{% else %}
 <p>{{ error }}</p>
{% endif %}
{% endblock %}