{% extends 'base.html' %}
{% block page-main %}
{% if query %}
    <h3>搜索结果如下：</h3>
    {% for result in page.object_list %}
        <div class="container">
	<div class="row">
		<div class="span8">
			<table class="table">
				<thead>
					<tr>
						<th>
                            用户名
						</th>
						<th>
							用户邮箱
						</th>
						<th>
							用户电话
						</th>
						<th>
							用户余额
						</th>
					</tr>
				</thead>
				<tbody>

					<tr class="success">
						<td>
							<div>{{ result.object.user_name}}</div>
						</td>
						<td>
							<div>{{ result.object.user_email }}</div>
						</td>
						<td>
							<div>{{ result.object.user_phone }}</div>
						</td>
						<td>
							<div>{{ result.object.user_money }}</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>

	</div>
</div>


    {% empty %}
        <p>啥也没找到</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
        |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}